
$pure-white-color: #ffffff;
$primery-text-color: #fcfcfc;
$secondary-text-color: #000000;
$third-text-color: #131313;
$bg-white-color: #fcfcfc;
$bg-salad-color: #aec6a5;
$yellow-card-color: #efd478;
$acent-color: #f8d24e;
$btn-focus-color: #0a8817;
$disable-color: #ababab;
$light-grey-color: #d9d9d9;
$dark-grey-color: #7a7a7a;
$orange-card-color: #d6936d;
$bg-hero-color: #84a178;
$modal-card-color: #96af8c;
$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1); 

// fonts
$main-font: 'Montserrat', sans-serif;
$hero-font: 'Seymour One', sans-serif;

