<section class="about" id="about">
  <div class="container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="content">
      <div class="content__container">
        <img
          class="content__image"
          srcset="
            ./images/about/cow-279.jpg 279w,
            ./images/about/cow-335.jpg 335w,
            ./images/about/cow-490.jpg 490w,
            ./images/about/cow-557.jpg 557w,
            ./images/about/cow-670.jpg 670w,
            ./images/about/cow-980.jpg 980w
          "
          sizes="(min-width: 1200px) 490px, (min-width: 768px) 335px, (min-width: 320px) 279px, 100vw"
          src="./images/about/cow-279.jpg"
          alt="cow"
        /> 
      </div>  
      <div class="content__group">
                  <p class="content__paragraph">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p class="content__paragraph">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p> 
          <p class="content__paragraph--last">
            This is enough to choose ice cream and coffee for any mood!
          </p> 
               <button
          type="button"
          class="content__btn btn btn--primary"
          data-modal-open="more"
          data-buy-modal-video-open
        >
          Read more
          <svg class="icon-button-arrow" viewBox="0 0 32 32">
            <path
              d="M8.592 3.659c0.493-0.608 1.239-0.993 2.076-0.993 0.637 0 1.222 0.224 1.681 0.597l-0.005-0.004 13.2 10.667c0.607 0.493 0.991 1.239 0.991 2.075s-0.385 1.582-0.986 2.071l-0.005 0.004-13.2 10.667c-0.454 0.369-1.039 0.592-1.676 0.592-1.473 0-2.667-1.194-2.667-2.667 0-0.836 0.384-1.582 0.986-2.071l0.005-0.004 10.632-8.592-10.632-8.592c-0.607-0.493-0.991-1.239-0.991-2.075 0-0.637 0.223-1.221 0.595-1.68l-0.004 0.005z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
