<section class="advantage section">
  
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="grid list">
      <li class="grid__item">
        <p class="grid__number">721</p>
        <p class="grid__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>  
      </li> 
      <li class="grid__item">
        <p class="grid__number">16kg</p> 
        <p class="grid__text"> 
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="grid__item"> 
        <p class="grid__number">84</p>
        <p class="grid__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
