<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our locations</h2>
    <ul class="contacts__locations">
      <li class="contacts__card">
        <p class="contacts__category">CAFE</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__city">Chicago</p> 
            <address class="contacts__address">
              <a
                href="https://goo.gl/maps/dLgTAZeyw7zY2ANh9"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Address in Chicago"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </address>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__opening-time">
                <p>Monday - Friday</p>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__opening-time">
                <p>Saturday - Sunday</p>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__info"
              href="tel:+61(0)383766284"
              aria-label="telephone"
              >+61(0) 383 766 284
            </a>
            <a
              class="contacts__info"
              href="mailto:noreply@envato.com"
              aria-label="email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <p class="contacts__category">FOOD TRUCK</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__city">Los Angeles</p>
            <address class="contacts__address">
              <a
                href="https://goo.gl/maps/TKPjvZm8tF7NfVaw7"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Address in Los Angeles"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              > 
            </address>   
          </li>
          <li class="contacts__item"> 
            <ul>
              <li class="contacts__opening-time">
                <p>Monday - Friday</p>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__opening-time">
                <p>Saturday - Sunday</p>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__info"
              href="tel:+61(0)383766284"
              aria-label="telephone"
              >+61(0) 383 766 284
            </a>
            <a
              class="contacts__info"
              href="mailto:noreply@envato.com"
              aria-label="email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <p class="contacts__category">CAFE</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__city">New York</p>
            <address class="contacts__address">
              <a
                class="contacts__address"
                href="https://goo.gl/maps/vPSPVxvmP1MsREyi6"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Address in New York"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </address>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__opening-time">
                <p>Monday - Friday</p>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__opening-time">
                <p>Saturday - Sunday</p>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__info"
              href="tel:+61(0)383766284"
              aria-label="telephone"
              >+61(0) 383 766 284
            </a>
            <a
              class="contacts__info"
              href="mailto:noreply@envato.com"
              aria-label="email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button
          class="button button--contacts"
          type="button"
          aria-label="open location"
          data-buy-location-open
        >
          Our Locations
          <svg
            class="contacts__btn-icon"
            viewBox="0 0 32 32"
            width="12"
            height="12"
          >
            <path
              d="M8.592 3.659c0.493-0.608 1.239-0.993 2.076-0.993 0.637 0 1.222 0.224 1.681 0.597l-0.005-0.004 13.2 10.667c0.607 0.493 0.991 1.239 0.991 2.075s-0.385 1.582-0.986 2.071l-0.005 0.004-13.2 10.667c-0.454 0.369-1.039 0.592-1.676 0.592-1.473 0-2.667-1.194-2.667-2.667 0-0.836 0.384-1.582 0.986-2.071l0.005-0.004 10.632-8.592-10.632-8.592c-0.607-0.493-0.991-1.239-0.991-2.075 0-0.637 0.223-1.221 0.595-1.68l-0.004 0.005z"
            ></path>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="btn btn--contacts"
          type="button"
          aria-label="franchise"
          data-buy-franchise-open
        >
          Franchise
          <svg
            class="contacts__btn-icon"
            viewBox="0 0 32 32"
            width="12"
            height="12"
          >
            <path
              d="M8.592 3.659c0.493-0.608 1.239-0.993 2.076-0.993 0.637 0 1.222 0.224 1.681 0.597l-0.005-0.004 13.2 10.667c0.607 0.493 0.991 1.239 0.991 2.075s-0.385 1.582-0.986 2.071l-0.005 0.004-13.2 10.667c-0.454 0.369-1.039 0.592-1.676 0.592-1.473 0-2.667-1.194-2.667-2.667 0-0.836 0.384-1.582 0.986-2.071l0.005-0.004 10.632-8.592-10.632-8.592c-0.607-0.493-0.991-1.239-0.991-2.075 0-0.637 0.223-1.221 0.595-1.68l-0.004 0.005z"
            ></path>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
