<div class="backdrop is-hidden" data-buy-location-overlay>
  <div class="modalll" data-buy-location-modal>
    <button class="modalll_btn" data-buy-location-close>
      <svg class="modalll__close-icon" width="16" height="16">
        <use href="/src/images/sprite.svg#modal-close-btn"></use>
      </svg>
    </button>

    <h3 class="modalll__title">Our Locations</h3> 
    <div class="map-contein">
      <iframe
        class="modalll__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d136649.86696742586!2d30.472717417573705!3d50.475727444970374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf7264186273%3A0xcc6a30cc60d27f1e!2sMahazyn%20Morozyva!5e0!3m2!1sru!2sua!4v1666026857387!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <a
      class="button link open-map"
      href="https://www.google.com/maps/place/Mahazyn+Morozyva/@50.425893,30.509933,12z/data=!4m5!3m4!1s0x0:0xcc6a30cc60d27f1e!8m2!3d50.4179802!4d30.478173?hl=ru"
    >
      Open map</a
    >
  </div>
</div>
