<section id="products" class="products">
  <div class="container">
    <p class="products__uppertitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li data-aos="fade-up" class="products__item products__item--ice-cream">
        <h3 class="item__title">ice cream</h3>
        <p class="item__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="item__button js-products-open"
          aria-label="recipe"
          data-buy-product-open
        >
          <svg class="products__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li data-aos="fade-up" class="products__item products__item--ice-coffee">
        <h3 class="item__title">ice coffee</h3>
        <p class="item__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button
          class="item__button js-products-open"
          aria-label="recipe"
          data-buy-coffe-open
        >
          <svg class="products__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>

      <li data-aos="fade-up" class="products__item products__item--milkshakes">
        <h3 class="item__title">milkshakes</h3>
        <p class="item__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button
          class="item__button js-products-open"
          aria-label="recipe"
          data-buy-product3-open
        >
          <svg class="products__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
