.backdropd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility $animations, opacity $animations;
  z-index: 310;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) translateY(-100%) translateX(-100%)
      scale(0.5);
    opacity: 0;
  }
}

.modal__franhise {
  position: absolute;
  width: 280px;
  height: 722px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;

  border: 2px solid $acent-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 668px;
  }
}
.modal__franchise-title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;

  color: $third-text-color;
  margin-bottom: 20px;

  @media screen and(min-width:768px) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.modald__text {
  font-size: 14px;
  line-height: 140%;

  color: $third-text-color;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.close-franch {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  color: $secondary-text-color;
}

.modald__close-icon {
  fill: currentColor;
}

.form__field,
.form__field-commend {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  // max-width: 220px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}
.form {
  text-align: center;
}
.form__input {
  display: inline-block;
  height: 32px;
  cursor: pointer;
  position: relative;
  padding-left: 12px;
  outline: transparent;
  margin-left: auto;
  margin-right: auto;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $bg-hero-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    height: 42px;
    padding-left: 16px;
    width: 368px;
  }
}

.form__input-com {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $bg-hero-color;
  border-radius: 10px;
}
.form__input::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.2;

  color: $third-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
textarea {
  resize: none;
  height: 64px;

  @media screen and (max-width: 767px) {
    max-width: 220px;
    width: 100%;
  }
  width: 368px;
  padding-top: 8px;
  padding-left: 12px;
  border: 1px solid $bg-hero-color;
  border-radius: 10px;
  cursor: pointer;
  outline: transparent;

  @media screen and (min-width: 768px) {
    height: 84px;
  }

  &::placeholder {
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 1.2;

    color: $third-text-color;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}
.form__field-commend {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @media screen and(min-width:768px) {
    margin-bottom: 32px;
  }
}

.sub {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.register-form-group {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
.register-form-field {
  display: block;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &:focus-within > .register-form-field__input,
  &:focus > .register-form-field__input,
  &:hover > .register-form-field__input,
  &__input:not(:placeholder-shown) {
    border-color: $acent-color;
  }

  &:focus-within > .register-form-field__message,
  &:focus > .register-form-field__message,
  &:hover > .register-form-field__message,
  &__message:not(:placeholder-shown) {
    border-color: $acent-color;
  }
}

.register-form-field__label {
  position: absolute;
  left: 16px;
  top: 25%;
  color: $third-text-color;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.register-form-field__input {
  width: 100%;
  min-height: 32px;
  padding-left: 75px;
  padding-right: 10px;
  color: $third-text-color;
  font-size: 14px;
  line-height: calc(20 / 14);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  -webkit-transition: border-color $animations;
  transition: border-color $animations;
  outline: none;

  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
  @media screen and (min-width: 768px) {
    min-height: 42px;
  }
}

.register-form-field__message {
  width: 100%;
  height: 65px;
  padding: 10px;
  color: $third-text-color;
  font-size: 14px;
  line-height: calc(20 / 14);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  -webkit-transition: border-color $animations;
  transition: border-color $animations;
  outline: none;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.register-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
}

.buy-now-modal-product__checkbox {
  &-ice-cream:checked ~ .buy-now-modal-card__thumb-ice-cream {
    background-color: $modal-card-color;
  }

  &-ice-coffee:checked ~ .buy-now-modal-card__thumb-ice-coffee {
    background-color: $yellow-card-color;
  }

  &-milkshake:checked ~ .buy-now-modal-card__thumb-milkshake {
    background-color: $orange-card-color;
  }
}
